In [12]:
msg=["Rakesh likes to play cricket","Arun like to dance", "Arun likes to play football or cricket", "Deepak  likes to play kabaddi"]
print(msg)

['Rakesh likes to play cricket', 'Arun like to dance', 'Arun likes to play football or cricket', 'Deepak  likes to play kabaddi']

In [13]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [14]:
vec=CountVectorizer()

bag=vec.fit_transform(msg).toarray()
bag

array([[0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1],
       [1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1],
       [0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]], dtype=int64)

In [15]:
print(vec.get_feature_names_out())

['arun' 'cricket' 'dance' 'deepak' 'football' 'kabaddi' 'like' 'likes'
 'or' 'play' 'rakesh' 'to']

In [16]:
import pandas as pd
df=pd.DataFrame(bag,columns=[vec.get_feature_names_out()])
df

  arun cricket dance deepak football kabaddi like likes or play rakesh to
0    0       1     0      0        0       0    0     1  0    1      1  1
1    1       0     1      0        0       0    1     0  0    0      0  1
2    1       1     0      0        1       0    0     1  1    1      0  1
3    0       0     0      1        0       1    0     1  0    1      0  1

In [18]:
tf=TfidfVectorizer()

bag_tf=tf.fit_transform(msg).toarray()
data=pd.DataFrame(bag_tf,columns=tf.get_feature_names_out())
data

,arun,cricket,dance,deepak,football,kabaddi,like,likes,or,play,rakesh,to
0,0.000000,0.479038,0.000000,0.000000,0.000000,0.000000,0.000000,0.387823,0.000000,0.387823,0.607599,0.317070
1,0.463458,0.000000,0.587838,0.000000,0.000000,0.000000,0.587838,0.000000,0.000000,0.000000,0.000000,0.306758
2,0.378872,0.378872,0.000000,0.000000,0.480551,0.000000,0.000000,0.306730,0.480551,0.306730,0.000000,0.250772
3,0.000000,0.000000,0.000000,0.569144,0.000000,0.569144,0.000000,0.363277,0.000000,0.363277,0.000000,0.297003

## Word2Vec

In [35]:
from gensim.models import Word2Vec

In [36]:
with open("Resources/word2vec.txt") as f:
    text=f.readlines()
text[0]

'With Bag of Words and TF-IDF text vectorization techniques we did not get semantic meaning of words But for most of the applications of NLP tasks like sentiment classification, sarcasm detection etc require semantic meaning of a word and semantic relationships of a word with other words.\n'

In [37]:
import re
from nltk.tokenize import word_tokenize

In [38]:
for i in range(len(text)):
    text[i]=re.sub('[^a-zA-Z]',' ',text[i])
text[0]

'With Bag of Words and TF IDF text vectorization techniques we did not get semantic meaning of words But for most of the applications of NLP tasks like sentiment classification  sarcasm detection etc require semantic meaning of a word and semantic relationships of a word with other words  '

In [39]:
tokens=[]
for i in text:
    tokens.append(word_tokenize(i))
tokens[0]

['With',
 'Bag',
 'of',
 'Words',
 'and',
 'TF',
 'IDF',
 'text',
 'vectorization',
 'techniques',
 'we',
 'did',
 'not',
 'get',
 'semantic',
 'meaning',
 'of',
 'words',
 'But',
 'for',
 'most',
 'of',
 'the',
 'applications',
 'of',
 'NLP',
 'tasks',
 'like',
 'sentiment',
 'classification',
 'sarcasm',
 'detection',
 'etc',
 'require',
 'semantic',
 'meaning',
 'of',
 'a',
 'word',
 'and',
 'semantic',
 'relationships',
 'of',
 'a',
 'word',
 'with',
 'other',
 'words']

In [41]:
model=Word2Vec(sentences=tokens, min_count=2, vector_size=2)

In [42]:
words=model.wv.index_to_key
words

['of',
 'and',
 'words',
 'a',
 'vector',
 'the',
 'word',
 'space',
 'Word',
 'in',
 'semantic',
 'context',
 'method',
 'gram',
 'to',
 'vec',
 'skip',
 'as',
 'are',
 'we',
 'meaning',
 'for',
 'most',
 'center',
 'be',
 'input',
 'relationships',
 'with',
 'other',
 'corpus',
 'embeddings',
 'well',
 'size',
 'is']

In [44]:
print("Total words:", len(words))
model.wv.__getitem__('and')

Total words: 34

array([0.255022, 0.450747], dtype=float32)